/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/* TAGS input */
div.tagsinput {
  border: 1px solid #ccc;
  background: #fff;
  padding: 5px;
  width: 300px;
  height: 100px;
  overflow-y: auto;
}
div.tagsinput span.tag {
  border: 1px solid #a5d24a;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  background: #cde69c;
  color: #638421;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px;
}
div.tagsinput span.tag a {
  font-weight: bold;
  color: #82ad2b;
  text-decoration: none;
  font-size: 11px;
}
div.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: helvetica;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 5px;
  background: transparent;
  color: #000;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #fbd8db !important;
  color: #90111a !important;
}

/* TAGS links */

.flexi_tags {
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  list-style: none;
}

.flexi_tags ul {
  list-style: none;
}

.flexi_tags li,
.flexi_tags a {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
}

.flexi_tags a {
  font-family: "Open Sans", sans-serif;
  margin-left: 20px;
  padding: 0 10px 0 12px;
  background: #0089e0;
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

.flexi_tags a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #0089e0 transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}

.flexi_tags a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #004977;
  -webkit-box-shadow: -1px -1px 2px #004977;
  box-shadow: -1px -1px 2px #004977;
}

.flexi_tags a:hover {
  background: #555;
  color: #fff;
}

.flexi_tags a:hover:before {
  border-color: transparent #555 transparent transparent;
}

.flexi_tags a.active {
  background: #555;
  color: #fff;
}
.flexi_tags a.active:before {
  border-color: transparent #555 transparent transparent;
}

/* Text over image*/

.flexi_image_container {
  position: relative;
  text-align: center;
  color: red;
}

.flexi_image_centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Progress Bar */
.flexi_progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.flexi_progress-bar-load {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}
.flexi_progress-bar-process {
  display: block;
  height: 22px;
  background-color: #4caf50;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}

/* Multi file drag drop */
.flexi_drag_file {
  background: #eaefee;
  border: 4px dashed #fff;
  width: 100%;
  height: 150px;
}

.flexi_drag_file p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
}
.flexi_drag_file_hide {
  position: absolute;
  outline: none;
  opacity: 0;
  width: 90%;
  height: 130px;
}

/* Figure caption for lightbox  */
flexi_figcaption {
  display: none;
}

/* ------------------------------- */

/* flexi_effect_1 Blur */
#flexi_effect_1 img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.flexi_gallery_child:hover #flexi_effect_1 img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* flexi_effect_2 Gray Scale */
#flexi_effect_2 img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.flexi_gallery_child:hover #flexi_effect_2 img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* flexi_effect_3 Zoom In #1 */
#flexi_effect_3 img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.flexi_gallery_child:hover #flexi_effect_3 img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.flexi_effect {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  position: relative;
}

/* Caption */

#flexi_title {
  overflow: hidden;
}

/* Caption style */

.flexi_caption_none {
  display: none;
}

/* Style 1 */
.flexi_caption_1 {
  position: absolute;
  bottom: 30px;
  right: 50px;
  z-index: 2;
  width: 90%;
  height: 30px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.5s;
  color: #fff;
  margin-right: -30px;
  text-align: center;
}
.flexi_caption_1 h3 {
  font-size: 18px;
}
.flexi_caption_1 p {
  display: none;
}
.flexi_gallery_child:hover .flexi_caption_1 {
  right: 150%;
}

/* Style 2 */
.flexi_caption_2 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  text-align: center;
}
.flexi_caption_2 h3 {
  padding: 2px 0 0;
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.flexi_caption_2 p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.flexi_gallery_child:hover .flexi_caption_2 {
  top: 0;
  left: 0;
}

/* Style 3 */
.flexi_caption_3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.flexi_caption_3 h3,
.flexi_caption_3 p {
  position: absolute;
  left: -100%;
  width: 260px;
  padding: 0;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 2px 0 0;
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.flexi_caption_3 h3 {
  top: 30px;
}
.flexi_caption_3 p {
  top: 75px;
  font-size: 12px;
}
.flexi_gallery_child:hover .flexi_caption_3 {
  opacity: 1;
}
.flexi_gallery_child:hover .flexi_caption_3 h3,
.flexi_gallery_child:hover .flexi_caption_3 p {
  left: 20px;
}
.flexi_gallery_child:hover .flexi_caption_3 h3 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.flexi_gallery_child:hover .flexi_caption_3 p {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* Style 4 */

.flexi_caption_4 {
  position: absolute;
  bottom: -60px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}
.flexi_caption_4 h3 {
  padding: 2px 0 0;
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.flexi_gallery_child:hover .flexi_caption_4 {
  bottom: 0;
}

/* Style 5 */

.flexi_caption_5 h3,
.flexi_caption_5 p {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.flexi_caption_5 h3 {
  top: -80px;
  font-size: 18px;
}
.flexi_caption_5 p {
  bottom: -80px;
  font-size: 13px;
}
.flexi_gallery_child:hover .flexi_caption_5 h3 {
  top: 0;
  font-size: 18px;
  padding: 0px 0 5px;
}
.flexi_gallery_child:hover .flexi_caption_5 p {
  bottom: -30px;
}
