/* Fix purecss on passing class directly */

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Fit image into div */
.flexi-fit_cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.flexi_padding {
  padding: var(--flexi_padding);
}
